<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604124001900-fnnqsrblt3qc6ntpmv9s5p6halemcufm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604124001900-fnnqsrblt3qc6ntpmv9s5p6halemcufm</string>
	<key>API_KEY</key>
	<string>AIzaSyAYD0No_HPfoW_2iUg-8GtAIlWUcGRTLPI</string>
	<key>GCM_SENDER_ID</key>
	<string>604124001900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>social-media-test-app-1a749</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-test-app-1a749.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604124001900:ios:eac674dba5b7b2f20f0a49</string>
</dict>
</plist>